.noGap{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(2, 0, 8);
}

#canvasCol{
    background-color: rgb(233, 233, 233);
    padding: 5px 0 0 0;
    margin: 10px 0 0 0;
}

.menuCol{
    background-color: rgb(192, 192, 192);
    margin-top: 10px;
    padding: 10px;
}

.menuCol .label{
    color: rgb(5, 10, 30);
    font-weight: 500;
    margin: 0;
    font-size: large;
    /* line-height: 1rem; */
}

.menuCol .label span{
    color: rgb(29, 62, 190);
}

.menuCol .label .btnEdit{
    width: auto;
    height: auto;
}